# EDA :- Exploratory Data Analysis
It means:
Looking at your data before building any model â€” to understand it, clean it, and find patterns.

ðŸŽ¯ Why EDA is important:
1.   Helps you understand your data
2.   Prepares data for machine learning
3.   Helps avoid wrong conclusions

In [ ]:
import pandas as pd

df=pd.read_csv('/content/car_price_dataset.csv')
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [ ]:
# 1. What is the average price of all cars in the dataset?
p=df['Price'].mean()
p

np.float64(8852.9644)

In [ ]:
# 2. Which car brand has the highest average price?
df[df['Price']== df['Price'].max()]['Brand'][1100]

'Toyota'

In [ ]:
# 3. What is the most common fuel type in the dataset?
f=df['Fuel_Type'].mode()[0]
f

'Electric'

In [ ]:
# 4. How many cars have a mileage greater than 200,000?
m=df[df['Mileage']>200000].value_counts(df['Brand']).sum()
m

np.int64(3290)

In [ ]:
# 5. What is the distribution of cars by transmission type?
df['Transmission'].value_counts()

Transmission
Manual            3372
Automatic         3317
Semi-Automatic    3311
Name: count, dtype: int64

In [ ]:
# 6. Which car model has the highest price?
highest = df.loc[df['Price'].idxmax(), ['Model', 'Price']]
highest

Model    Corolla
Price      18301
Name: 1100, dtype: object

In [ ]:
# 7. What is the average price of cars by fuel type?
df.groupby('Fuel_Type')['Price'].mean()

Fuel_Type
Diesel       8117.336385
Electric    10032.220190
Hybrid       9113.030167
Petrol       8070.561826
Name: Price, dtype: float64

In [ ]:
# 8. How many cars are from the year 2020 or later?
count=df[df['Year']>= 2020].count()
count.values[0]

np.int64(1651)

In [ ]:
# 9. What is the average engine size for each brand?
average_engine_size_by_brand = df.groupby('Brand')['Engine_Size'].mean()
average_engine_size_by_brand

Brand
Audi          3.032948
BMW           2.976877
Chevrolet     2.993719
Ford          3.044275
Honda         2.925966
Hyundai       2.936683
Kia           3.053791
Mercedes      3.069745
Toyota        2.961443
Volkswagen    3.011078
Name: Engine_Size, dtype: float64

In [ ]:
# 10. Which car has the lowest mileage?
lowest_mileage_car = df.loc[df['Mileage'].idxmin(), [ 'Model']]
print(lowest_mileage_car)

Model    Explorer
Name: 6824, dtype: object

In [ ]:
# 11. What is the correlation between mileage and price?
df['Mileage'].corr(df['Price'])

np.float64(-0.5512271827629014)

In [ ]:
# 12. How many cars have more than 2 owners?
c=df[df['Owner_Count']>2].count().values[0]   #or replace .values =.iloc[0]
c

np.int64(5944)

In [ ]:
# 13. What is the average price of cars by year?
# df['Price'].mean()
df.groupby('Year')['Price'].mean()

Year
2000     5393.735369
2001     5904.064039
2002     5956.751082
2003     6225.834646
2004     6330.725888
2005     6943.037123
2006     7249.961446
2007     7632.513953
2008     7728.418848
2009     8083.917293
2010     8503.419954
2011     8622.855234
2012     9011.446224
2013     9114.208531
2014     9587.455635
2015     9896.774648
2016    10177.600000
2017    10343.757506
2018    10939.192941
2019    11132.722090
2020    11495.284337
2021    11637.813299
2022    12067.690176
2023    12169.470982
Name: Price, dtype: float64

In [ ]:
# 14. Which car has the highest number of doors?
df[df["Doors"] == df["Doors"].max()]

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
14,Volkswagen,Golf,2003,2.4,Petrol,Automatic,145921,5,2,5981
16,Hyundai,Elantra,2017,2.9,Electric,Automatic,38133,5,2,14837
22,Toyota,RAV4,2003,2.0,Electric,Manual,136662,5,4,6266
26,Audi,A3,2022,3.3,Electric,Manual,79350,5,3,14413
27,BMW,3 Series,2017,2.3,Electric,Semi-Automatic,142701,5,3,10645
...,...,...,...,...,...,...,...,...,...,...
9978,Mercedes,E-Class,2002,4.5,Diesel,Semi-Automatic,145363,5,2,6292
9979,Mercedes,C-Class,2012,4.3,Diesel,Automatic,51674,5,2,12466
9983,Mercedes,E-Class,2022,3.2,Petrol,Automatic,92823,5,4,13543
9991,Mercedes,E-Class,2017,1.1,Diesel,Automatic,179286,5,1,8214
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866

In [ ]:
# 15. What is the average mileage for each fuel type?
df.groupby('Fuel_Type')['Mileage'].mean()

Fuel_Type
Diesel      150261.533041
Electric    151059.307429
Hybrid      145577.587036
Petrol      149917.694606
Name: Mileage, dtype: float64

In [ ]:
# 16. How many cars are from the brand 'Toyota'?
df[df['Brand']=='Toyota'].count().values[0]

np.int64(970)

In [ ]:
# 17. What is the average price of cars with automatic transmission?
# df.groupby('Transmission')['Price'].mean().values[0]    or
T = df[df["Transmission"] == "Automatic"]
T = T["Transmission"]
df.groupby(T)["Price"].mean()

Transmission
Automatic    9938.252939
Name: Price, dtype: float64

In [ ]:
# 18. Which car has the highest owner count?
df[df['Owner_Count']==df['Owner_Count'].max()]

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
9,Toyota,RAV4,2005,3.1,Petrol,Manual,107724,2,5,6545
30,Hyundai,Tucson,2007,3.9,Electric,Automatic,213643,4,5,9327
33,Mercedes,GLA,2013,3.3,Electric,Semi-Automatic,80184,3,5,11696
35,Kia,Optima,2005,4.5,Petrol,Manual,18590,2,5,9728
...,...,...,...,...,...,...,...,...,...,...
9952,Mercedes,GLA,2015,4.9,Electric,Automatic,14529,2,5,16709
9955,BMW,3 Series,2011,2.8,Diesel,Manual,158111,4,5,7037
9964,Hyundai,Tucson,2002,3.1,Electric,Automatic,62377,2,5,10052
9969,Chevrolet,Equinox,2016,3.9,Electric,Automatic,99870,5,5,14302
9992,BMW,5 Series,2016,1.2,Hybrid,Automatic,13386,3,5,12332

In [ ]:
# 19. What is the average engine size for cars with diesel fuel type?
disel = df[df["Fuel_Type"] == "Diesel"]
disel = disel["Fuel_Type"]
df.groupby(disel)["Engine_Size"].mean()

Fuel_Type
Diesel    3.011863
Name: Engine_Size, dtype: float64

In [ ]:
# 20. How many cars have a price greater than $10,000?
df[df['Price']>10000].count()[0]

np.int64(3651)